html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

html, body, #root, #root > div
  height: 100%
  width: 100%
  margin: 0

body
  color: #fff

#root > div
  display: flex
  flex-direction: row

.appartment-map
  flex-grow: 1

.appartment-map
  display: flex
  flex-direction: column
  flex-shrink: 0

  .leaflet-container
    flex-grow: 1

  .results
    height: 300px
    background: #6FA1E8
    border-top: 1px solid #000
    overflow-x: scroll
    overflow-y: hidden
    position: relative

    .inner
      position: absolute
      top: 0
      left: 0
      display: flex
      flex-direction: row
      height: 100%

    .result
      height: 100%
      width: 300px
      border-left: 1px solid #000
      padding: 0 20px 0 20px
      text-align: center

      .title
        font-size: 0.8em
        text-align: center
        margin-bottom: 20px

      .thumbnail
        display: block
        margin: 0 auto
        width: 150px
        height: auto
        max-height: 150px
        margin-bottom: 20px

      .center-button
        color: #fff
        border: 1px #fff solid
        border-radius: 5px
        padding: 10px 15px 10px 15px
        display: inline-block
        text-decoration: none
        cursor: pointer

        &:hover
          background-color: lighten(#6FA1E8, 10%)

.appartment-searchbar
  width: 340px
  height: 100%
  background: #6FA1E8
  border-left: 1px solid #000
  padding: 0 20px

  & > div
    width: 100%
    margin-bottom: 4px

  .title
    text-align: center

  select[name="department"],
  select[name="category"],
  select[name="pieces"]
    display: block
    width: 100%
    background: lighten(#6FA1E8, 10%)
    border: none
    color: #fff
    padding: 8px 8px
    border-radius: 5px
    cursor: pointer

  input[type="text"]
    display: inline-block
    width: 90%
    background: lighten(#6FA1E8, 10%)
    border: none
    color: #fff
    padding: 8px 8px
    border-radius: 5px

  button
    margin-top: 20px
    color: #fff
    border: 1px #fff solid
    border-radius: 5px
    padding: 10px 15px 10px 15px
    display: inline-block
    text-decoration: none
    background: rgba(0, 0, 0, 0)
    cursor: pointer

    &:hover
      background-color: lighten(#6FA1E8, 10%)
